@import "/home/elias/.config/colors/waybarcolors.css";
:root {
  --border: 0px solid @border;
  --border-radius: 20px;
}

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 22px;
  text-shadow: none;
  color: @text;
  box-shadow: 0px 0px 0px 0px transparent;
}

.notification {
  background-color: @background;
  padding: 20px;
  color: @text;
  font-size: 10px;
}
.image {
  border-radius: 0px;
}
.close-button {
  background-color: alpha(@text, 0.8);
  color: @background;
}
.close-button:hover {
  background-color: alpha(@text, 1);
  color: @background;
}
.close-button image {
  color: @background;
}
.notification-content {
  background-color: transparent;
  padding: 0px;
  color: @text;
}
.notification-default-action:hover {
  background-color: transparent;
  color: @textselect;  
}
.notification:hover {
  background-color: @background;
  color: @textselect;
}
.control-center {
  border-radius: var(--border-radius);
  color: @text;
  background-color: @background;
  border: var(--border); 
}
.widget-title {
  margin: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  color: @text;
}
.widget-title>button {
  background-color: alpha(@background, 2);
  color: @text;
}
.control-center-list-placeholder {
  color: @text;
}
.widget-dnd {
  margin: 15px;
  margin-top: 5px;
  background-color: transparent;
  color: @text;
}
.widget-dnd label {
  color: @text;
}
.widget-dnd>switch {
  background: alpha(@background, 2);
}
.widget-dnd>switch:checked {
  background: @textselect;
}
.widget-dnd>switch slider {
  background-color: @text;
}
.widget-dnd>switch:checked slider {
  background-color: alpha(@background, 2);
}
/* scrollbar {
  -gtk-scrollbar-has-backward-stepper: false;
  -gtk-scrollbar-has-forward-stepper: false;
  -gtk-scrollbar-has-secondary-backward-stepper: false;
  -gtk-scrollbar-has-secondary-forward-stepper: false;
  background: none;
  border: none;
  min-width: 0;
  min-height: 0;
  opacity: 0;
}
scrollbar slider {
  background: none;
  border: none;
  min-width: 0;
  min-height: 0;
  opacity: 0;
} */
.notification-group {
  border-radius: var(--border-radius);
  background-color: transparent;
  border: var(--border);
  color: @text;
  padding: 0px;
}
