* {
    border: #81A1C100;
    background: #192330cc;
    textcolor: #cdcecf;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #719cd655;
    selectionborder: #719cd6;
    myhigh: bold #f4a261;
    searchcolor: #cdcecf99;
    powermenuselect: #f4a261;
    nul: #00000000;
    borderradius: 20px;

    borderradiuselement: 9px;
}
