@define-color border #719cd6;
@define-color background rgba(25, 35, 48, 0.8);
@define-color text #cdcecf;
@define-color selection #719cd6;
@define-color textselect #719cd6;
@define-color buttonselect #f4a261;
@define-color buttonselecttext rgba(25, 35, 48, 0.8);
@define-color button rgba(0, 0, 0, 0);
