* {
    border: #81A1C100;
    background: #322d29cc;
    textcolor: #b5a9a1;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #F3980B55;
    selectionborder: #F3980B;
    myhigh: bold #F3980B;
    searchcolor: #b5a9a199;
    powermenuselect: #F3980B;
    nul: #00000000;
    borderradius: 20px;

    borderradiuselement: 9px;
}
