* {
    border: #81A1C100;
    background: #232136cc;
    textcolor: #e0def4;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #eb6f9255;
    selectionborder: #eb6f92;
    myhigh: bold #c4a7e7;
    searchcolor: #e0def499;
    powermenuselect: #c4a7e7;
    nul: #00000000;
    borderradius: 20px;

    borderradiuselement: 9px;
}
