configuration{
 font: "FiraCode Nerd Font 20";
 modi: "dmenu";
 fixed-num-lines: true;
 show-icons: false;
 icon-theme: "Papirus";
 eh: 1;
 dpi: 100;
 display-drun: "";
 display-run: "";
 display-filebrowser: "󱧷";
 location: 0;
}

@theme "~/.config/ThemeSwitcher/TST.rasi"
