@define-color border #81a1c1;
@define-color background rgba(46, 52, 64, 0.8);
@define-color text #d8dee9;
@define-color selection #a3be8c;
@define-color textselect #a3be8c;
@define-color buttonselect #81a1c1;
@define-color buttonselecttext rgba(46, 52, 64, 0.8);
@define-color button rgba(40, 46, 58, 0);
