@define-color border #587C87;
@define-color background rgba(251, 241, 199, 0.8);
@define-color text #3c3836;
@define-color selection #587C87;
@define-color textselect #587C87;
@define-color buttonselect #B8595C;
@define-color buttonselecttext rgba(251, 241, 199, 0.8);
@define-color button rgba(0, 0, 0, 0);
