@define-color border #7AA2F7;
@define-color background rgba(26, 27, 38, 0.8);
@define-color text #c0caf5;
@define-color selection #7AA2F7;
@define-color textselect #7AA2F7;
@define-color buttonselect #E0AF68;
@define-color buttonselecttext rgba(26, 27, 38, 0.8);
@define-color button rgba(0, 0, 0, 0);
